.popup__pic-container {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: fit-content;
  height: fit-content;
  max-width: 75vw;
  max-height: 75vh;
}
