.cards__like-btn {
  background: none;
  border: none;
  background-image: url(../../../images/cards-like.jpg);
  background-repeat: no-repeat;
  width: 21px;
  height: 19px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.cards__like-btn_active {
  background-image: url(../../../images/like-btn-active.png);
}

.cards__like-btn:hover {
  opacity: 0.5;
  cursor: pointer;
}
